@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@300;400&display=swap');

:root {
  --link-hover: #f7f8fb; /* Standard links like nav, etc */
  --darken-hover: #e8e9ea; /* Tags, buttons, etc when hover */
  --subtext: #898f96;
  --background-color: #ffffff;
  --font-color: #373d43;
  --accent-color: #373d43;
}

[data-theme='dark'] {
  --font-color: #e8e9ea;
  --link-hover: #2c2c30; /* Standard links like nav, etc */
  --darken-hover: #3b3a3d; /* Tags, buttons, etc when hover */
  --subtext: #898f96;
  --background-color: #1d1f21;
  --accent-color: #ffd378;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  margin-left: 2rem;
  margin-right: 2rem;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------- */
/* end reset */
/* ---------------- */

html {
  font-family: system-ui;
  color: var(--font-color);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: inherit;
}

pre {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul > li {
  list-style: circle;
  margin-left: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1200px) {
  body {
    margin: none;
    padding: 15px;
  }

  .container {
    margin: none;
    width: 100%;
  }
}