.blog_post {
    margin-top: 4rem;

    a {
        border-bottom: 2px solid var(--accent-color);
        text-decoration: none !important;
    }

    code {
        background-color: var(--darken-hover);
        padding: .25rem;
        border-radius: 2px;
    }
}

.post_title {
    font-size: 2rem;
    font-weight: 500;
}

.post_date {
    margin-top: 2.5rem;
    color: var(--subtext);
    font-size: .95rem;
}

.hover-link:hover {
    cursor: pointer;
    background-color: var(--darken-hover);
}

.tags {
    margin-top: 1.5rem;

    span {
        background-color: var(--link-hover);
        padding: 7px;
        font-size: .85rem;
        border-radius: 5px;

        &:not(:first-child) {
            margin-left: 10px;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--darken-hover);
            color: var(--accent-color);
        }
    }
}

.post_body {
    margin-top: 3rem;

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 1rem;
        margin-top: 2rem;
        color: var(--accent-color);
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        color: var(--accent-color);
        border-bottom: 5px solid var(--link-hover);
    }

    h3 {
        font-size: 1.0rem;
        font-weight: 500;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        color: var(--accent-color);
    }

    p {
        margin-top: .5rem;
        line-height: 2.2rem;
        font-size: 1.1rem;
    }

    img {
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        border-radius: 10px;
        max-width: 800px;
        width: auto;
        height: auto;

        &:hover {
            opacity: .7;
            cursor: pointer;
        }
    }
}

.img-enlarge {
    font-size: .75rem;
    color: var(--accent-color);
    opacity: .5;

    &:hover {
        cursor: pointer;
    }
}

.img-styles {
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0rem;;
}

.link {
    text-decoration: none;
}

@media (max-width: 800) {
    .post {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .title {
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .post_header {
        text-align: center;
    }
}

.img-container {
    max-width: 850px;
    width: 100%;
    position: relative;
}

.code-tag {
    height: 2rem;
    background-color: #474e5e;
    border-radius: 0.3rem .3rem 0rem 0rem;
    width: 100%;
    margin-top: -1.85rem;
    position: absolute;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;

    span {
        margin-left: 1rem;
        font-size: .7rem;
        opacity: .7;
    }
}

.copy {
    margin-right: 1rem;
    &:hover {
        opacity: .6;
        cursor: pointer;
    }

    span {
        margin-right: .5rem;
    }
}