.post {
    padding: 1rem;
    margin-left: -1rem;
    border-bottom: 1px solid transparent;

    &:hover {
        background-color: var(--link-hover);
        border-radius: 5px;
        cursor: pointer;
        color: var(--accent-color);
        border-bottom: 1px solid var(--accent-color);

    }
}

.posts {
    margin-top: 1rem;
}

.date {
    font-size: .75rem;
    min-width: 5rem;
    display: inline-block;
}

.title {
    margin-left: 3rem;
    font-size: 1.2rem;
    padding: 0rem;
    font-weight: 600;
}

@media (max-width: 800px) {
    .post {
        // background-color: var(--link-hover);
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        border-bottom: 2px solid transparent;
        border-radius: 5px;
        margin-top: 1rem;
        cursor: pointer;

        &:hover {
            border-bottom: 2px solid var(--accent-color);
        }
    }

    .title {
        margin-top: 1rem;
        margin-left: 0rem;
    }
}