.post {
    padding: 1rem;
    margin-left: -1rem;

    &:hover {
        background-color: var(--link-hover);
        border-radius: 5px;
        cursor: pointer;
    }
}

.posts {
    margin-top: 1rem;

    &:hover {
        .date {
            color: var(--accent-color);
        }
    }
}

.date {
    font-size: .75rem;
}

.title {
    margin-left: 3rem;
    padding: 0rem;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .post {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
    }

    .title {
        margin-top: 1rem;
        margin-left: 0rem;
    }
}